:host {
  display: block;
  background-color: hsl(30, 3%, 14%);
  width: 300px;
  height: 300px;
}

.anime-container {
  position: relative;
}

.anime-container .particle{
  position: absolute;
  /*draw particles as circles:*/
  border-radius: 50%;
  background-color: var(--particle-color, hsl(354, 84%, 49%));
  opacity: 0;
}

